/* Estilos para o corpo da página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Estilos para o cabeçalho */
header {
  background-color: #0077b6;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
}

/* Estilos para o formulário de cadastro */
.form-container {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 400px;
}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-container input[type="text"],
.form-container input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  background-color: #ff6b6b; /* Cor de fundo vermelho */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #ff4040; /* Cor de fundo vermelho mais escura ao passar o mouse */
}

/* Estilos para a lista de doações recentes */
.recent-donations {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 400px;
}

.recent-donations h2 {
  font-size: 1.5rem;
  color: #0077b6; /* Azul escuro para o título */
}

.recent-donations ul {
  list-style: none;
  padding: 0;
}

.recent-donations li {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
  color: #333; /* Cor do texto mais escura */
}


